<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">Проект создан в 2023. Работает по сей день.</p>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Главная</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Книги</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Авторы</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">О проекте</a></li>
        </ul>
    </footer>
</div>